
<section class="webdesigntuts-workshop">
  <h2>Enter Your Address and Find Your Next Game</h2>
  <form action="/venues/search" method="GET">
    <input type="text" name="location" placeholder="Address:">
    <input type="submit" value="Submit">
  </form>
</section>

