%section.webdesigntuts-workshop
  %h2 Enter Your Address and Find Your Next Game
  %form{"action" => "/venues/search", "method" => "GET"}
    %input{"type" => "text", "name" => "location", "placeholder" => "Address:"}
    %input{"type" => "submit", "value" => "submit"}


